---
layout: base
title: WANHOO
excerpt: WANHOO
---

<div itemscope itemtype="{{ _author_itemtype }}" class="layout--author">
  <div class="main">
    <div class="content">
      <div class="author-avatar"></div>
      <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
      {% include author-links.html author=site.author %}
      <p>
        <a
          itemprop="url"
          class="social-link blog"
          title="Visit my blog."
          href="/src/index.html"
          >Visit My Blog</a
        >
      </p>
    </div>
  </div>
</div>
{% include analytics.html %}
